@font-face {
  font-family: "roboto";
  src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: "roboto-light";
  src: url(../fonts/Roboto-Thin.ttf);
}

header {
  background-color: $purple;
  box-shadow: 2px 2px 2px $grey;
  img {
    height: 2.5em;
  }
  nav {
  
    a {
      padding: 1.5em;
      font-family: "roboto";
      font-size: 1.1em;
     
    }
    
    
  }
}

.btn-primary,  {
background-color: $primary;
border: none;
  &:hover {
    background-color: darken($color: $primary, $amount: 10);
  }
}

h1 {
  font-family: "roboto";
  font-size: 1.5em;
  text-align: center;
  margin: 2em;
}

.img-center {
  height: 16em;
  object-fit: cover;
}

.price::after{
    content: '€';
  }

.pointer {
  cursor: pointer;
}


.margin-lg {
  margin-top: 2em;
  margin-bottom: 2em;
}

.row-title {
  font-family: "roboto";
}

footer {
  background-color: $purple;
  height: 3em;
  text-align: center;
}
