@font-face {
    font-family: 'roboto';
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: 'roboto-light';
    src: url(../fonts/Roboto/Roboto-Thin.ttf);
}

body {
    margin: 0;
    position: relative;
}
header {
    height: 4em;
    display: flex;
    position: relative;
    background-color: $purple ;
    padding-left: 1em;
    padding-right: 1em;
    box-shadow: 2px 2px 2px $grey;
    img {
        height: 4em;
    }
    nav {
        display: flex;
        position: absolute;
        right: 0;
        a  {
            padding: 1.5em ;
            color: black;
            font-family: 'roboto';
            font-size: 1em;
            text-decoration: none;
            vertical-align: middle;
        }
        a:hover {
            text-decoration: underline;
        }
    }
}

h1 {
    font-family: 'roboto';
    font-size: 1.5em;
    text-align: center;
 margin-top: 1em;
}

.margin-lg {
margin-top: 2em;
margin-bottom: 2em;
}

.row-title {
    font-family: 'roboto';

}

footer {
    background-color: $purple;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3em;
}


