
.img-center {
    height: 16em;
    object-fit: cover;
  }
  
  .card-title{
    font-size: 1.5em;
  }
  
  .card-hover:hover {
    box-shadow: 5px 5px 5px $grey;
    transition: all 0.3s ease-in-out;
    transform: scale(1.05, 1.05);
    border: none;
  }

  .card {
    border: none;
  }

  